/* * {
  margin: 0px;
}

main {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  background-color: aliceblue;
}

nav {
  display: flex;
  gap: 5em;
  border: 1px solid black;
}

header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

dialog {
  margin: 0 auto;
} */